---
layout: henter-diandian
---
<article class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="time"><time pubdate="{{ rpost.date }}">{{ page.date | date_to_string }}</time></p>
    <div class="post-content">
    {{ content }}
    </div>
    
    <div class="tags">Tags: 
        {% for tag in page.tags %}
        <a href="{{ site.url }}/tags.html#{{ tag }}-ref"><span>{{ tag }}</span></a> 
        {% endfor %}
    </div>

    <nav class="pagination-link">
        {% if page.previous %}
        <a class="prev" href="{{ site.url }}{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
        {% endif %}
        {% if page.next %}
        <a class="next" href="{{ site.url }}{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
        {% endif %}
     </nav>
     <div id="ckepop">
    <span class="jiathis_txt">分享到：</span>
    <a class="jiathis_button_tsina">新浪微博</a>
    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
    <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script><br/>
    <!-- Duoshuo Comment BEGIN -->
    <div class="ds-thread"></div>
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"joyuan"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
</article>  
